geopandas
shapely
pyogrio
fiona
pyproj
rasterio
rioxarray
xarray
numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
contextily
osmnx
networkx
momepy
libpysal
esda
mgwr
umap-learn
hdbscan
torch
torchvision
pytorch-lightning
segmentation-models-pytorch
timm
xgboost
lightgbm
catboost
shap
captum
earthengine-api
geemap
jupyter

